{
  
    "semi": true,
    "singleQuote": true,
    "trailingComma": "all",
    "jsxSingleQuote": true,
    "arrowParens": "always",
    "printWidth": 100,
    "tabWidth": 2,
    "useTabs": false,
    "overrides": [
      {
        "files": "*.scss",
        "options": {
          "parser": "scss"
        }
      }
    ],
    "importOrder": ["^components/(.*)$", "^[./]" ],
    "importOrderSeparation": true, 
    "importOrderSortSpecifiers": true ,
    "plugins": ["@trivago/prettier-plugin-sort-imports"]
  }
